In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
raw_data = pd.read_csv('F:/Muthu_2023/Personal/NextStep/MLProjects/Analytics/Datasets/esas_mehsullar/esas_mehsullar_ds.csv')

In [3]:
raw_data.head()

,Sale_code,product_code,product_name,product_category,product_price,sale_date,discount_company,bonus_card,store_name,store_lat,store_long
0,577571,3334,GONDOL SIMPLE WASHBASIN AND FRIDGE CASE G61*50,Food products,3.68,19-07-2019 12:29,Cool summer day,True,1,40.485561,49.946741
1,577571,4674,WOODEN KNIFE 3232,Dishes,2.25,19-07-2019 12:29,Cool summer day,True,1,40.485561,49.946741
2,577571,8388,VITA 1LT PINEAPPLE SYRUP,Fruits,2.50,19-07-2019 12:29,Cool summer day,True,1,40.485561,49.946741
3,577571,6017,1LT YELLOW PLUM COMPOTE FROM GILAN BAG,Compotes,1.45,19-07-2019 12:29,Cool summer day,True,1,40.485561,49.946741
4,577571,8297,OSRAM SUPERSTAR LAMP 64544A ECO 57W E27,Food products,2.92,19-07-2019 12:29,Cool summer day,True,1,40.485561,49.946741

In [4]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438826 entries, 0 to 438825
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Sale_code         438826 non-null  int64
 1   product_code      438826 non-null  int64
 2   product_name      438055 non-null  object
 3   product_category  438795 non-null  object
 4   product_price     438055 non-null  float64
 5   sale_date         438826 non-null  object
 6   discount_company  217897 non-null  object
 7   bonus_card        438826 non-null  bool
 8   store_name        438826 non-null  int64
 9   store_lat         438826 non-null  float64
 10  store_long        438826 non-null  float64
dtypes: bool(1), float64(3), int64(3), object(4)
memory usage: 33.9+ MB

In [5]:
raw_data[pd.isnull(raw_data['product_category'])]

,Sale_code,product_code,product_name,product_category,product_price,sale_date,discount_company,bonus_card,store_name,store_lat,store_long
37415,609364,7740,2,NaN,3.0,21-03-2019 15:21,A beautiful Novruz,False,21,40.332686,49.799567
41621,393793,7740,2,NaN,3.0,10-02-2019 11:35,NaN,False,14,40.395400,49.828833
44760,403116,7740,2,NaN,3.0,11-10-2019 18:14,NaN,True,7,40.395360,49.818190
47292,500595,7740,2,NaN,3.0,07-01-2019 13:10,New year opportunity,False,17,40.418977,49.838141
81239,466726,7740,2,NaN,3.0,10-08-2019 07:46,Cool summer day,True,14,40.395400,49.828833
115667,632832,7740,2,NaN,3.0,15-07-2019 16:58,Cool summer day,False,17,40.418977,49.838141
125812,661157,7740,2,NaN,3.0,09-07-2019 11:03,Cool summer day,False,8,40.377972,49.846260
126838,349858,7740,2,NaN,3.0,11-02-2019 12:32,NaN,False,8,40.377972,49.846260
136606,704832,7740,2,NaN,3.0,22-10-2019 19:49,NaN,True,19,40.386546,49.957536
140849,797836,7740,2,NaN,3.0,21-06-2019 22:14,NaN,True,21,40.332686,49.799567
149988,874969,7740,2,NaN,3.0,21-06-2019 11:53,NaN,False,4,40.394620,49.836660
164417,841337,7740,2,NaN,3.0,04-02-2019 04:02,NaN,True,4,40.394620,49.836660
166057,400253,7740,2,NaN,3.0,10-02-2019 05:56,NaN,False,17,40.418977,49.838141
167577,659558,7740,2,NaN,3.0,04-03-2019 16:35,A beautiful Novruz,False,10,40.372750,49.838400
193170,312585,7740,2,NaN,3.0,10-04-2019 03:13,NaN,True,20,40.394605,49.953685
233911,766336,7740,2,NaN,3.0,15-01-2019 10:59,New year opportunity,True,16,40.454661,49.788384
240861,703749,7740,2,NaN,3.0,04-05-2019 07:05,Save money,False,21,40.332686,49.799567
256635,428653,7740,2,NaN,3.0,14-06-2019 07:36,NaN,True,12,40.415957,49.868739
263485,724946,7740,2,NaN,3.0,23-06-2019 17:32,NaN,True,17,40.418977,49.838141
263896,929898,7740,2,NaN,3.0,13-09-2019 23:29,NaN,False,12,40.415957,49.868739
285293,604729,7740,2,NaN,3.0,11-06-2019 20:22,NaN,True,3,40.388683,49.868089
287629,327506,7740,2,NaN,3.0,29-03-2019 04:42,A beautiful Novruz,False,15,40.371819,49.946795
322661,268828,7740,2,NaN,3.0,31-05-2019 19:38,Save money,False,12,40.415957,49.868739
336868,785371,7740,2,NaN,3.0,23-04-2019 19:04,NaN,False,2,40.370900,49.956770
352580,295729,7740,2,NaN,3.0,08-02-2019 00:49,NaN,True,4,40.394620,49.836660
354101,576855,7740,2,NaN,3.0,26-02-2019 02:58,NaN,False,14,40.395400,49.828833
364551,896304,7740,2,NaN,3.0,11-02-2019 05:41,NaN,True,19,40.386546,49.957536
391845,247970,7740,2,NaN,3.0,24-10-2019 18:38,NaN,False,1,40.485561,49.946741
401003,403824,7740,2,NaN,3.0,23-05-2019 00:31,Save money,True,7,40.395360,49.818190
420207,354920,7740,2,NaN,3.0,27-03-2019 03:59,A beautiful Novruz,True,18,40.380000,49.804731
431734,564043,7740,2,NaN,3.0,12-09-2019 03:07,Autumn discounts,False,8,40.377972,49.846260

In [6]:
Temp = raw_data[pd.isnull(raw_data['product_name'])]

In [7]:
raw_data[pd.isnull(raw_data['product_name'])]['product_category'].unique()

array(['Energy image', 'rabs', 'Pivlr', 'Sour cream'], dtype=object)

In [8]:
Temp[Temp['product_category'] == 'Sour cream']

,Sale_code,product_code,product_name,product_category,product_price,sale_date,discount_company,bonus_card,store_name,store_lat,store_long
26159,980094,8042,NaN,Sour cream,NaN,23-01-2019 13:14,New year opportunity,True,4,40.394620,49.836660
39943,882134,8042,NaN,Sour cream,NaN,08-01-2019 20:31,New year opportunity,False,7,40.395360,49.818190
41234,609106,8042,NaN,Sour cream,NaN,05-02-2019 10:43,NaN,False,16,40.454661,49.788384
51355,357392,8042,NaN,Sour cream,NaN,04-05-2019 06:17,Save money,True,3,40.388683,49.868089
52492,904458,8042,NaN,Sour cream,NaN,19-07-2019 01:47,Cool summer day,True,10,40.372750,49.838400
75136,779541,8042,NaN,Sour cream,NaN,27-09-2019 10:42,Autumn discounts,True,10,40.372750,49.838400
75365,873676,8042,NaN,Sour cream,NaN,13-01-2019 02:36,New year opportunity,True,13,40.459728,49.719754
90023,895129,8042,NaN,Sour cream,NaN,28-03-2019 10:37,A beautiful Novruz,False,3,40.388683,49.868089
91958,857075,8042,NaN,Sour cream,NaN,15-03-2019 02:56,A beautiful Novruz,False,10,40.372750,49.838400
129001,238458,8042,NaN,Sour cream,NaN,15-10-2019 00:44,NaN,False,11,40.393613,49.790698
157139,801530,8042,NaN,Sour cream,NaN,26-03-2019 02:24,A beautiful Novruz,True,14,40.395400,49.828833
168326,530836,8042,NaN,Sour cream,NaN,10-07-2019 12:56,Cool summer day,True,19,40.386546,49.957536
175755,249997,8042,NaN,Sour cream,NaN,25-09-2019 20:09,Autumn discounts,True,21,40.332686,49.799567
213243,939779,8042,NaN,Sour cream,NaN,12-05-2019 08:21,Save money,True,10,40.372750,49.838400
219747,993638,8042,NaN,Sour cream,NaN,27-03-2019 20:43,A beautiful Novruz,True,4,40.394620,49.836660
225587,590331,8042,NaN,Sour cream,NaN,01-09-2019 06:51,Autumn discounts,False,17,40.418977,49.838141
233191,829634,8042,NaN,Sour cream,NaN,11-05-2019 19:13,Save money,True,11,40.393613,49.790698
234621,422162,8042,NaN,Sour cream,NaN,07-09-2019 07:02,Autumn discounts,False,13,40.459728,49.719754
245957,823572,8042,NaN,Sour cream,NaN,20-06-2019 08:25,NaN,False,7,40.395360,49.818190
254764,705264,8042,NaN,Sour cream,NaN,26-10-2019 19:58,NaN,True,21,40.332686,49.799567
258041,459499,8042,NaN,Sour cream,NaN,23-07-2019 01:19,Cool summer day,True,10,40.372750,49.838400
269617,983811,8042,NaN,Sour cream,NaN,06-05-2019 21:56,Save money,True,19,40.386546,49.957536
272637,240142,8042,NaN,Sour cream,NaN,27-10-2019 01:06,NaN,False,17,40.418977,49.838141
305755,849489,8042,NaN,Sour cream,NaN,06-02-2019 15:33,NaN,True,1,40.485561,49.946741
308355,258335,8042,NaN,Sour cream,NaN,08-09-2019 17:18,NaN,True,14,40.395400,49.828833
331244,464135,8042,NaN,Sour cream,NaN,28-10-2019 22:45,NaN,False,1,40.485561,49.946741
371684,835263,8042,NaN,Sour cream,NaN,14-07-2019 21:03,Cool summer day,False,18,40.380000,49.804731
382599,580619,8042,NaN,Sour cream,NaN,22-06-2019 09:46,NaN,False,1,40.485561,49.946741
404327,638249,8042,NaN,Sour cream,NaN,29-05-2019 16:14,Save money,False,19,40.386546,49.957536
404708,831306,8042,NaN,Sour cream,NaN,20-09-2019 17:18,Autumn discounts,False,6,40.382698,49.876587
409944,372063,8042,NaN,Sour cream,NaN,29-03-2019 18:29,A beautiful Novruz,True,17,40.418977,49.838141
425887,878030,8042,NaN,Sour cream,NaN,28-07-2019 17:26,NaN,True,1,40.485561,49.946741
429889,813873,8042,NaN,Sour cream,NaN,17-07-2019 20:28,NaN,True,2,40.370900,49.956770
433610,582169,8042,NaN,Sour cream,NaN,23-04-2019 19:21,NaN,False,12,40.415957,49.868739

# Data Cleaning

In [9]:
df = raw_data.copy()

In [10]:
df.loc[pd.isnull(raw_data['product_category']), 'product_category'] = 'Undefined'

In [11]:
df.loc[pd.isnull(raw_data['product_name']), 'product_name'] = df.loc[pd.isnull(raw_data['product_name']), 'product_category']

In [12]:
df.loc[pd.isnull(raw_data['product_price']), 'product_price'] = 5.8

In [14]:
df = df.drop('discount_company', axis = 1)

KeyError: "['discount_company'] not found in axis"

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438826 entries, 0 to 438825
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Sale_code         438826 non-null  int64
 1   product_code      438826 non-null  int64
 2   product_name      438826 non-null  object
 3   product_category  438826 non-null  object
 4   product_price     438826 non-null  float64
 5   sale_date         438826 non-null  object
 6   bonus_card        438826 non-null  bool
 7   store_name        438826 non-null  int64
 8   store_lat         438826 non-null  float64
 9   store_long        438826 non-null  float64
dtypes: bool(1), float64(3), int64(3), object(3)
memory usage: 30.6+ MB

In [16]:
TempVar = df[['product_name', 'product_price']]
np.mean(TempVar.groupby(by = 'product_name').mean())

5.832011420860504

In [17]:
df['sale_date'] = pd.to_datetime(df['sale_date'])
df.info()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_13824\2166678196.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['sale_date'] = pd.to_datetime(df['sale_date'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438826 entries, 0 to 438825
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Sale_code         438826 non-null  int64
 1   product_code      438826 non-null  int64
 2   product_name      438826 non-null  object
 3   product_category  438826 non-null  object
 4   product_price     438826 non-null  float64
 5   sale_date         438826 non-null  datetime64[ns]
 6   bonus_card        438826 non-null  bool
 7   store_name        438826 non-null  int64
 8   store_lat         438826 non-null  float64
 9   store_long        438826 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(3), int64(3), object(2)
memory usage: 30.6+ MB

In [18]:
df['sale_time'] = pd.to_datetime(df['sale_date']).dt.time
df['sale_date'] = pd.to_datetime(df['sale_date']).dt.date

In [20]:
df.head(20)

,Sale_code,product_code,product_name,product_category,product_price,sale_date,bonus_card,store_name,store_lat,store_long,sale_time
0,577571,3334,GONDOL SIMPLE WASHBASIN AND FRIDGE CASE G61*50,Food products,3.68,2019-07-19,True,1,40.485561,49.946741,12:29:00
1,577571,4674,WOODEN KNIFE 3232,Dishes,2.25,2019-07-19,True,1,40.485561,49.946741,12:29:00
2,577571,8388,VITA 1LT PINEAPPLE SYRUP,Fruits,2.50,2019-07-19,True,1,40.485561,49.946741,12:29:00
3,577571,6017,1LT YELLOW PLUM COMPOTE FROM GILAN BAG,Compotes,1.45,2019-07-19,True,1,40.485561,49.946741,12:29:00
4,577571,8297,OSRAM SUPERSTAR LAMP 64544A ECO 57W E27,Food products,2.92,2019-07-19,True,1,40.485561,49.946741,12:29:00
5,577571,4695,BEKO 2111P DEM SAMOVARI,Food products,94.00,2019-07-19,True,1,40.485561,49.946741,12:29:00
6,577571,6803,MELON 3KG MIXED PICKLE PL/Q,Pickles,6.85,2019-07-19,True,1,40.485561,49.946741,12:29:00
7,577571,7492,ULKER CAFE CROWN 17GR COFFEE LATTE CARAMEL,"Coffee, cocoa, etc.",0.40,2019-07-19,True,1,40.485561,49.946741,12:29:00
8,583812,6131,LUCK SIAM 565GR PINEAPPLE SLICES IN SYRUP D/Q,Fruits,3.05,2019-04-29,True,2,40.370900,49.956770,03:20:00
9,583812,3545,"CHOCOLATE STAR FAVO CHOCOLATE, PORTUGAL KG",Business,11.80,2019-04-29,True,2,40.370900,49.956770,03:20:00
10,583812,2957,MARANDI 750ML YANARDAG RED KEMSIRIN MIRAEB S/Q,rabs,5.10,2019-04-29,True,2,40.370900,49.956770,03:20:00
11,469379,8787,OLEYNA 1LT GUNEBAXAN OIL,Years,3.05,2019-01-12,True,3,40.388683,49.868089,11:08:00
12,469379,2635,FAN 35GR SUKHARI RED BOARD,Dry Fruit Packaged,0.20,2019-01-12,True,3,40.388683,49.868089,11:08:00
13,469379,4021,SMART 50ML SHOE CREAM LACIVERT,Footwear accessories,5.67,2019-01-12,True,3,40.388683,49.868089,11:08:00
14,469379,8047,MERRY CLEANING CLOTH MOP 40SM*2N,"Detergent, detergent",2.32,2019-01-12,True,3,40.388683,49.868089,11:08:00
15,469379,7849,CIGARETTE LD CLUB EXCEL GOY,Tobacco products,1.80,2019-01-12,True,3,40.388683,49.868089,11:08:00
16,469379,3134,PEYMAN 70GR FLAVOURED MIX WITH SAUCE KAR.CEREZ,Dry Fruit Packaged,2.55,2019-01-12,True,3,40.388683,49.868089,11:08:00
17,469379,7955,RASPAK 500GR STARCH POTATO PACKAGE,Contingencies,3.65,2019-01-12,True,3,40.388683,49.868089,11:08:00
18,469379,3651,GARAGOZ 750ML RED KEMSIRIN TABLEWARE,rabs,3.33,2019-01-12,True,3,40.388683,49.868089,11:08:00
19,290384,9024,SAUSAGE CARICINO SINYUGA D/L/T GOST KG,Sausages and hot dogs,26.05,2019-04-04,False,4,40.394620,49.836660,15:55:00

In [21]:
df.to_csv('F:/Muthu_2023/Personal/NextStep/MLProjects/Analytics/Datasets/esas_mehsullar/esas_mehsullar_cleaned.csv')

In [ ]:
df['product_category'].unique()

In [27]:
x = df.groupby(by = 'product_category')['product_name'].unique()

In [24]:
t = df.groupby(by = ['product_category', 'product_name'])[['product_category', 'product_name']]

In [25]:
t.head()

       product_category                                       product_name
0         Food products     GONDOL SIMPLE WASHBASIN AND FRIDGE CASE G61*50
1                Dishes                                  WOODEN KNIFE 3232
2                Fruits                           VITA 1LT PINEAPPLE SYRUP
3              Compotes             1LT YELLOW PLUM COMPOTE FROM GILAN BAG
4         Food products            OSRAM SUPERSTAR LAMP 64544A ECO 57W E27
...                 ...                                                ...
236792           Fruits               SIPPI 1,25LT LAYM MYATA LIMONAD PL/Q
240376         Diabetic  DIET.ARKOM 350GR PESOK TRAS.TROYNAYA SL.SO STE...
244477             rabs                TBILVINO 750ML ALAZANI SERAB AG S/Q
245442           Sauces               MOYA SEMYA 220GR KETCUP OSTRIY POSET
264454       Sour cream           DADLI NEMET 250GR XAMA SEHLIYALI 25% S/Q

[71245 rows x 2 columns]

# EDA

In [22]:
print('Total Orders: ', len(df['Sale_code'].unique()))
print('Total Products: ', len(df['product_name'].unique()))
print('Total Product Category: ', len(df['product_category'].unique()))

Total Orders:  80000
Total Products:  14245
Total Product Category:  66

In [29]:
x.head(20)

product_category
?ay                     [FINAL 450GR SUPER TEA GIFT COFFEE, BETA TEA 2...
Against memories        [MOSQUITALL 100ML AEROSOL HERB KOMAROV 2 NIGHT...
Auto                    [AREON 35GR KEN VISNYE MASIN TERAVET, AREON SP...
Ayran                   [MILLA 1LT AYRAN NANELI PL/Q, CPL 230GR LAVAND...
Battery                 [PANASONIC 4AD BATTERY SIZE S LR03APB/4BP, CAM...
Business                [CHOCOLATE STAR FAVO CHOCOLATE, PORTUGAL KG, C...
Canned sauce            [SUPER SUN 275GR TOMATO PASTE S/Q, ILKBAR 370G...
Canning                 [SUPER SUN 300GR AG BEANS WITH FLESH, VICI 240...
Cheese                  [CHEESE GURCU MOTAL GOAT KG, ATHENA 500GR WHIT...
Cocktail                [SVALYA 250ML MYAU MOL. SOKOLADNIY NAPITOK, AZ...
Coffee, cocoa, etc.     [ULKER CAFE CROWN 17GR COFFEE LATTE CARAMEL, M...
Cognac                  [AZ-GRENADE 0.5LT KHAGAN X.O. COGNAC BOX, HEYA...
Cokes                   [FANTA 2LT SHOWERS, SPRITE 300ML PL.Q, BUY 2LT...
Cold months             [DIDI 330ML MANGO COLD COFFEE D/Q, LIPTON 0.5L...
Compotes                [1LT YELLOW PLUM COMPOTE FROM GILAN BAG, MELON...
Condensed milk          [MOLPROEKT 900GR SOLDIED WATER 8.5% PL/Q, QUST...
Contingencies           [RASPAK 500GR STARCH POTATO PACKAGE, NID 15GR ...
Cream                   [LONG SPINE 400GR CREAM 40%, MILLA 200GR QAYMA...
Detergent, detergent    [MERRY CLEANING CLOTH MOP 40SM*2N, YUMOS 1LT S...
Diabetic                [DR.NATURI 90GR ZDOROV.MENYU XLEBCI MULTIZLAK ...
Name: product_name, dtype: object